<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>GDP Tracker</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>🌍 GDP Tracker</h1>

  <label for="countrySelect">Choose a country:</label>
  <select id="countrySelect">
    <option value="USA">United States</option>
    <option value="KEN">Kenya</option>
    <option value="CHN">China</option>
    <option value="IND">India</option>
    <option value="NGA">Nigeria</option>
  </select>
  <button id="getGdpBtn">Get GDP</button>


  <div id="result"></div>
  <canvas id="gdpChart" width="400" height="200"></canvas>
  <p id="summary" style="margin-top: 1rem; font-style: italic; color: #444;  background-color: #b96eff;"></p>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
